/Aufgabe1/Debug
/Aufgabe2/Debug
/Aufgabe3/Debug
/Aufgabe4/Debug
/Aufgabe5/Debug
/Aufgabe6/Debug
/Aufgabe7/Debug
/Aufgabe8/Debug
/Aufgabe9/Debug
/RemoteSystemsTempFiles
/.metadata
Aufgabe1/.settings/language.settings.xml
Aufgabe2/.settings/language.settings.xml
Aufgabe3/.settings/language.settings.xml
Aufgabe4/.settings/language.settings.xml
Aufgabe5/.settings/language.settings.xml
Aufgabe6/.settings/language.settings.xml
Aufgabe7/.settings/language.settings.xml
Aufgabe8/.settings/language.settings.xml
Aufgabe9/.settings/language.settings.xml
